{% extends 'template.html' %} {% load bootstrap5 %} {% load static%} 
{% block title %}CEFETalent!{% endblock %} {% block css %} 
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% endblock %} {% block main %}
<div class="row justify-content-start align-items-center pt-3">
  <i class="fa-solid fa-gear eng"></i>
  <h2 class="h2-adm">Administração</h2>
</div>
<hr>
<div class="col d-flex">
  <div class="row w-100">
    <div class="pb-4 m-auto bg-white">


      {% comment %}
      <div class="row">
        <div class="col text-right px-4 d-flex">
          <a href="{% url 'home' %}" class="btn btn-dark ms-auto" role="button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-arrow-left-circle"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"
              />
            </svg>
            Voltar
          </a>
        </div>
      </div>
      {% endcomment %} 


      <div class="row">
        <div class="col pt-2">
          <div class="row d-flex">
            <div class="col-8 m-auto">
              <div>
                <div class="row py-3">
                  <div class="col bg">
                    <h2>EDITAR RECURSO</h2>
                  </div>
                </div>
              </div>
              
              <form
                method="POST"
                class="text-dark"
                id="formulario"
                enctype="multipart/form-data"
              >
              {% csrf_token %}

              {% bootstrap_form form_recurso %} 

                <div class="row">
                  <div class="col d-flex pt-3">
                    <input
                      class="btn btn-primary mb-5 mx-auto"
                      type="submit"
                      value="Cadastrar"
                    />
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% block end_js %}
{% endblock %} {% endblock %}
