{% extends 'adm_template.html' %} {% load static%} 
{% block title %}Home{% endblock %} {% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% endblock %} {% block main %}

<div class="d-flex flex-row w-100">
    <div class="col">
        <h3>Listar atividades</h3>
    </div>
</div>
<div class="d-flex flex-row w-100">
    <div class="col d-flex flex-row-reverse">
        <a href="{% url 'organizacao:Painel' %}"><input type="button" class="btn btn-outline-primary mb-2" value="Voltar"></a>
    </div>
</div>
<div class="d-flex flex-row w-100">
    <div class="col mx-auto">
        <table class="table table-hover table-striped">
            <thead>
                <tr class="tb">
                    <th scope="col">Título</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Duração estimada</th>
                    <th scope="col">Detalhes</th>
                </tr>
            </thead>
            <tbody>
                {% for atv in atividades %}
                <tr class="tb">
                    <td>{{atv.titulo}}</td>
                    <td>{{atv.descricao}}</td>
                    {% if atv.duracao == 0 %}
                    <td>-</td>
                    {% else %}
                    <td>{{atv.duracao}} minutos</td>
                    {% endif %}
                    <td><a class="icon-tb" href="{% url 'organizacao:Atividade detalhes' atv.id %}"><i class="fa-solid fa-eye"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
