{% extends 'adm_template.html' %} {% load static%} 
{% block title %}Home{% endblock %} {% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% endblock %} {% block main %}

<div class="d-flex flex-row w-100">
    <div class="col">
        <h3>Recursos</h3>
    </div>
</div>
<div class="d-flex flex-row w-100">
    <div class="col d-flex flex-row-reverse">
        <a href="{% url 'organizacao:Cadastrar recurso' %}"><input type="button" class="btn btn-outline-primary" value="Cadastrar"></a>
        <a href="{% url 'organizacao:Painel' %}"><input type="button" class="btn btn-outline-primary mx-2" value="Voltar"></a>

    </div>
</div>
<div class="d-flex flex-row w-100">
    <div class="col mx-auto">
        <table class="table table-hover table-striped">
            <thead>
                <tr class="tb">
                    <th scope="col">Nome</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Quantidade</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
                {% for r in recursos %}
                <tr class="tb">
                    <td>{{r.nome}}</td>
                    <td>{{r.descricao}}</td>
                    <td>{{r.quantidade}}</td>
                    <td><a class="icon-tb" href="{% url 'organizacao:Editar recurso' r.id %}"><i class="fa-solid fa-pen-to-square"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
