{% extends 'template.html' %} {% load static%} 
{% block title %}Home{% endblock %} {% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
{% endblock %} {% block main %}

<div class="d-flex flex-row w-100 py-5">
    <div class="row d-flex justify-content-start align-items-center">
        <div class="col"><i class="fa-solid fa-gear"></i></div>
        <div class="col"><h2>Administração</h2></div>
    </div>
</div>
<div class="d-flex flex-row w-100">
    <div class="col">
        <h3>Recursos</h3>
    </div>
</div>
<div class="d-flex flex-row w-100">
    <div class="col d-flex flex-row-reverse">
        <a href="{% url 'organizacao:Cadastrar recurso' %}"><input type="button" class="btn btn-outline-info" value="Cadastrar"></a>
    </div>
</div>
<div class="d-flex flex-row w-100">
    <div class="col mx-auto">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Quantidade</th>
                </tr>
            </thead>
            <tbody>
                {% for r in recursos %}
                <tr>
                    <td>{{r.nome}}</td>
                    <td>{{r.descricao}}</td>
                    <td>{{r.quantidade}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
