{% extends 'adm_template.html' %} {% load static%} 
{% block title %}Home{% endblock %} {% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% endblock %} {% block main %}

<div class="d-flex flex-row w-100 py-5 flex-wrap">
        <div class="col-adm">
            <a href="{% url 'organizacao:Recursos' %}">
              <div class="btn-painel">
                <div class="p-text"><h5>Recursos</h5></div>
                <div class="p-icon"><i class="fa-solid fa-box-archive"></i></div>
              </div>
            </a>
        </div>
        <div class="col-adm">
          <a href="{% url 'organizacao:Atividades' %}">
            <div class="btn-painel">
              <div class="p-text"><h5>Atividades</h5></div>
              <div class="p-icon"><i class="fa-solid fa-wand-magic-sparkles"></i></div>
            </div>
          </a>
      </div>
        <div class="col-adm">
            <a href="{% url 'organizacao:Participantes' %}">
              <div class="btn-painel">
                <div class="p-text"><h5>Participantes</h5></div>
                <div class="p-icon"><i class="fa-solid fa-user-group"></i></div>
              </div>
            </a>
        </div>
        
</div>
<!-- <div class="m-auto align-items-center d-flex flex-column container-fluid">
  <h1>CEFETalent! 2022</h1>
  <p class="lead text-center">
    Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.
  </p>
  <p class="lead">
    <a href="{% url 'inscricao' %}" class="btn btn-lg btn-secondary fw-bold "
      >Inscreva-se já!</a
    >
  </p>
</div> -->

{% endblock %}
