.col-adm{
    background-color: hsl(196, 100%, 42%);
    text-align: center;
    margin: 10px auto 10px auto;
    width: 300px;
    height: 50px;
    transition: all 10ms ease;
}
.col-adm a {
    color: #fff;
}
.col-adm:hover{
    filter: brightness(0.9)
}
.btn-painel{
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.p-text{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.p-icon{
    padding: 0;
    background-color: hsl(196, 99%, 38%) !important;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-adm  h5{
    margin: 0;
}
a:hover{
    color: #fff;
}
.eng{
    width: fit-content;
}
.h2-adm{
    width: fit-content;
}
.tb th:last-child {
    text-align: center;
}
.tb td:last-child{
    text-align: center;
}
.icon-tb{
    transition: all 0.2s;
    
}
.icon-tb:hover{
    color: hsl(216, 95%, 35%);
}