{% extends 'template.html' %} {% load bootstrap5 %} {% load static%} 
{% block title %}INSCRIÇÃO{% endblock %} {% block css %} {% endblock %} {% block main %}
<br />
<div class="row" id="edital">
  <div class="col d-flex py-5">
    <div class="row w-100">
      <div class="col-10 pb-4 m-auto bg-white">
        <div class="row py-3 px-4">
          <div class="col bg p-5">
            <h1 class="display-4 text-center">INSCREVER-SE</h1>
          </div>
        </div>

        <div class="row">
          <div class="col text-right px-4 d-flex">
            <a
              href="{% url 'home' %}"
              class="btn btn-dark ms-auto"
              role="button"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-arrow-left-circle"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"
                />
              </svg>
              Voltar
            </a>
          </div>
        </div>

        {% if form_atividade.errors or form_participante.errors %}

        <div class="row d-flex">
          <div class="col-8 pt-4 m-auto text-dark">
            <h2
              class="invalid-feedback text-uppercase"
              style="display: block; font-size: 1rem"
            >
              Corrija os erros apresentados no formulário
            </h2>
          </div>
        </div>

        {% endif %}

        <div class="row">
          <div class="col pt-5">
            <div class="row d-flex">
              <div class="col-8 m-auto">
                <h2 class="text-dark text-uppercase">
                  Formulário de inscrição
                </h2>
                <form
                  method="POST"
                  class="text-dark"
                  id="formulario"
                  enctype="multipart/form-data"
                >
                  {% csrf_token %}
                  <table class="table text-dark table-striped table-bordered">
                    {% bootstrap_form form_participante %} 
                    {% bootstrap_form form_atividade %}
                  </table>

                  <div class="row">
                    <div class="col d-flex pt-3">
                      <input
                        class="btn btn-primary mb-5 mx-auto"
                        type="submit"
                        value="Confirmar inscrição"
                      />
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% block end_js %}
<script src="{% static 'js/mascara.js' %}"></script>
<script src="{% static 'js/inscricao.js' %}"></script>
{% endblock %} {% endblock %}
