#banner{
    height: 500px;
}

#banner h1{
    font-size: 120pt;
}

main{
    /* background-image: url(/static/images/uerj-bg.jpg); */
    /* background-image: url(/static/images/bg2.jpeg); */
    max-width: 42em;
}