{% load static %}
<footer class="row mt-auto pt-2" style="border-top: 1px solid rgb(184, 184, 184)">
  <div class="col">
    <div class="row bg-black">
      <div class="col d-flex px-4 pt-4 pb-2">
        <div class="d-flex mx-auto">
          <b class="ms-2"
            >Desenvolvido pelos alunos do curso técnico de informática do
            CEFET/RJ campus Nova Friburgo
          </b>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col text-center pb-3 bg-black">
        <a href="#"> Política de Privacidade </a>
      </div>
    </div>
  </div>
</footer>
