{% load static %}
<footer class="row mt-auto" style="border-top: 1px solid rgb(184, 184, 184);">        
  <div class="col">
    <div class="row  pt-5 pb-4 mobile-flex-column">
      <div class="col d-flex flex-column">
        <img class="img-fluid logo m-auto" src="{% static '/images/logo.jpg' %}" alt="">
        <p class="mx-auto mt-4">
          <!-- <a class="text-dark" target="_blank" href="https://www.facebook.com/polouerjnovafriburgo/">
            <i class="fa-brands fa-facebook fa-2x me-4 mb-2"></i>
          </a> -->
          <!-- <i class="fa-brands fa-linkedin fa-2x me-4 mb-2"></i> -->
          <!-- <a class="text-dark" target="_blank" href="https://www.instagram.com/polouerjnovafriburgo/">
            <i class="fa-brands fa-instagram fa-2x me-4 mb-2"></i>
          </a> -->
          <!-- <i class="fa-brands fa-youtube fa-2x me-4 mb-2"></i> -->
          <!-- <i class="fa-brands fa-whatsapp fa-2x me-4"></i> -->
          <!-- <i class="fa-brands fa-twitter fa-2x"></i> -->
        </p>
      </div>
      {% comment %} <div class="col">
        <!-- <h5>Sobre Nós</h5> -->
        <p>
          <b class="text-uppercase">
            <!-- Prefeitura Municipal de Nova Friburgo em pareceria com a UERJ -->
          </b>
        </p>
        <p>
          <b><i class="fa-solid fa-location-dot me-2"></i></b> 
          Av. Alberto Braune, 225 - Centro, Nova Friburgo - RJ, 28613-001
        </p>
        <p> 
          <b><i class="fa-solid fa-clock me-2"></i></b>
          08:00 às 17:00 de Seg. à Sex.
        </p>
        <p>
          <b><i class="fa-solid fa-phone me-2"></i></b>
          (22) 2525-9100
        </p>
      </div> {% endcomment %}
    </div>
    <div class="row bg-black">
      <div class="col d-flex px-4 pt-4 pb-2">
        <div class="d-flex mx-auto">
         <b class="ms-2">Desenvolvido pelos alunos do curso técnico de informático do campus Nova Friburgo </b>
        </div>
      </div>          
    </div>
    <div class="row">
      <div class="col text-center pb-3 bg-black">
        <a href="#">
          Política de Privacidade
        </a>
      </div>
    </div>
  </div>
</footer>    