{% extends 'template.html' %} {% load static%} {% block title %}Home{% endblock%} {% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
{% endblock %} {% block main %}

  <div class="m-auto align-items-center m-auto d-flex flex-column container-fluid call-to-action">
    <h1>CEFETalent! 2022</h1>
    <p class="lead text-center">
      O show de talentos do CEFET/RJ Nova Friburgo, edição 2022. O tema desse ano é: <b style="font-weight: 700">festa à fantasia</b>
    </p>
    <div class="lead d-flex justify-content-center gap-3 flex-wrap">
      <a href="{% url 'inscricao' %}" class="btn btn-lg btn-secondary fw-bold">Inscreva-se já!</a>
      <a href="{% url 'grupo' %}" class="btn btn-lg btn-outline-secondary fw-bold">Faço parte de um grupo</a>

    </div>
</div>

{% endblock %}
